@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Calistoga&display=swap");


body {
  background-image: url(assets/img/bienvenida.png);
  background-repeat: no-repeat;
  background-attachment:scroll;
  width: 100%;
  height: 90%;
  max-width:1900px;
  padding-top: 80px; /* Relleno superior igual a la altura de la  de filtrado*/

}

h1 {
  height: fit-content;
  font-family: "Calistoga", serif;
  text-align:center;
  font-size: 90px;
  color: #ffffff;

}

p {
  font-family: 'Poppins', sans-serif;
  text-align:left;
  font-weight: 100;
  font-size: 40px;
  color: #ffffff;
}

footer {
  font-family: 'Poppins', sans-serif;
  text-align:start;
  font-weight: 30;
  font-size: 30px;
  color: #ffffff;
}

.seccion {
  padding: 320px; /* Espacio alrededor del contenido */
}

.seccion2 {
  padding: 520px; /* Espacio alrededor del contenido */
  background-image: url(assets/img/footer.png);
  background-size:cover; /* Cubrir todo el fondo */
  background-position: center bottom; /* Posición de la imagen (centrada en el fondo y en la parte inferior) */
  background-attachment:scroll; /* Fijar la imagen al fondo */
  
}
/*Las tarjetas */
.card {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  /*border: 10px solid  rgba(12, 141, 253, 0.685);*/
  position: relative;
  overflow: hidden;
  transition: heigth 0.5s ease;
  flex-basis: calc(33.33% - 20px);
  transition: flex-basis 0.5s;
  transition: transform 0.3 ease; 
  width: 300px;/*Ancho de mis card*/
  margin: 6%;
}
/*Diseño de primera cara */
.PrimeraCara{

  position:relative;
  display: flex;
 flex-wrap: wrap; /* Permite que los elementos li se envuelvan  de PrimeraCara*/
  }

/*texto de la tarjeta primeracara*/
.PrimeraCara h2{
  position:absolute;
  bottom: 0;/*Posiciona mi titulo en la parte inferior*/
  text-align:center;/*Posision de mi texto Titulo*/
  font-size: 1.9vw;/* tamaño de texto en relacion con el ancho de la ventana*/
  color: #ffffff;
  background-color: rgba(54, 52, 54, 0.671);/*Fondo de Titulo de cuento*/
  border-bottom-left-radius: 25%;/* Borde de parte inferior izquierda*/
  border-bottom-right-radius: 25%;/* Borde de parte inferior derecha */
  padding-left: 20px;/* Relleno izquierdo del fondo */
  width: 300px;/*Ancho d emi fondo tranparente de titulo*/
}
/* Diseño de solo la imagen */
#Img{
  border: 5px  solid rgb(255, 255, 255);/*color de borde para imagen*/
 width: 350px;/*Ancho de mi imagen*/
 height: 335px;/*Largo d emi imagen*/
  border-radius: 15%;/* Tipo de brode de mi imagen*/
}
/*Animacion de tarjeta */
.card:hover{
  height:auto;
  flex-basis: 450px;
}
/* Diseño de la  data de SegundaCara */
.card .SegundaCara{
  position: absolute;
  top:100%;
  left: 0;
  width: 350px;/*Ancho de mi data SegundaCara*/
  height: 335px;
  background-color:rgba(252, 252, 252, 0.692);
  padding: 20px;
  /*box-sizing: border-box ;*/
  transition: top 0.5s ease;
  border-radius: 15px;/*tipo de borodo para mi segundacara*/
  overflow: hidden;
  word-wrap: break-word;
  overflow-y: auto; /* Agrega un scroll vertical si el contenido excede la altura */
  
}
.card:hover .SegundaCara{
  top:0;
}
/*Termina animacion de SegundaCara*/

/*Se crea las colmnas*/
.Contenedor{
 border: 1px, solid black;
 background: linear-gradient(to top, rgb(5, 22, 66) -10%, rgba(113, 159, 212, 0.856) 50%, rgba(254, 255, 255, 0.911) 100%); /* Degradado de color de fondo */
 padding: 20px;/*espacio interior de  */
 display:flex;/* desto es flexbox*/
 flex-direction: row;/*direciona los elementos en fila*/
 flex-wrap:wrap ;/*ajusta los elementos a multipes linea*/
 width: 100%;/*amcho de mi contenedor*/
 /*background-image: url(https://th.bing.com/th/id/OIG3.Cffz1BrkGK3eBsrYavJs?pid=ImgGn);
background-size: cover;
background-position: absolute;*/
}


/*.card{
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border: 10px solid rgba(54, 52, 54, 0.575);
  position: relative;
  overflow: hidden;
  flex-basis: calc(50% - 20px);
  margin: 10px;
  padding: 20px;
  background-color: rgb(252, 60, 12);
  transition:flex-basis  0.5s, transform 0.3s ease;
  
}*/

.content {
  max-width: 1200px;
  width: 90%;
  margin: 0px auto;

  /*FlexBox*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-search{
border: none;
padding: 10px 20px 10px 0px;
margin: 12px 0px;
width: 200px;
background: transparent;
color: #fff;
outline-color: transparent;
font-weight: 15;
font-size: 15px;
font-family: 'Poppins', sans-serif;
}

#main-header {
  background: #00050a;
	color: white;
	height: 80px;
  font-weight: 20;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 0; /* Posicionamos la cabecera pegada arriba */
	position: absolute; /* Hacemos que la cabecera tenga una posición */
}

label {
  margin: 0;
  padding: 0;
  list-style: none;
}

#filter {
  font-weight: 15;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  color: black;
}

#order {
  font-weight: 15;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  color: black;
}

.cleanerButton {
  font-family: 'Poppins', sans-serif;
  font-weight: 17;
  font-size: 17px;
}
